[submodule "dashboard"]
	path = dashboard
	url = git@github.com:RapportTecnologia/Rack_inteligente_Dashboard.git
[submodule "firmware"]
	path = firmware
	url = git@github.com:RapportTecnologia/Rack_inteligente_Firmware.git
